<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit </title>
</head>
<body>
    <h2>Edit Quote {{quote.id}}</h2>

    <form action="/edit_quote/{{quote.id}}" method="POST">

        {% csrf_token %}

        <h4>Quoted By: </h4> <input type="text" name="quotedby_input" value="{{quote.author}}">

        <h4>Message / Quote: </h4> <input type="text" name="message_input" value="{{quote.quote}}">

        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}

        <br>

        <input type="submit" value="Submit">

        <a href="/quotes">cancel</a>
</body>
</html>